#generalDelivery, #dawnDelivery, .search, #productRegistration  {
  margin-left: 20px;
}
#productRegistration {
    border: 3px solid #73AD21;
    border-collapse : collapse;
    text-align : left;
    margin-right: auto;
}
#icon {
  font-size: 43px;
}
#inputWindow {
  position: absolute;
  left: 40%;
  top: 10%;
  width: 400px;
  height: 250px;
  padding: 30px;
  background-color: skyblue;
  border: 2px outset;
  border-radius: 5px;
  margin: 0 auto;
  display: none;
  font-size: 8pt;
  font-weight: normal;
}
table, td, th {
  text-align : center;
  border: 1px solid black;
  border-collapse : collapse;
  font-weight: bold;
}
#productImage {
  display: inline;
}
#inputWindow > h1 {
  /*예제는 굵기도 처리됨*/
  font-weight: bold;
  font-size: 20px;
  color: blue;
}
#inputWindow > p {
  line-height: 8pt;
  margin-top: auto;
  margin-bottom: auto;
}
.nameforsize {
  width: 80px;
  height: 80px;
}

/*검색창 조건
.search {

}
*/